.erm_footerContainer {
	width: 100%;
	float: left;
	padding: 30px 0px;
	background: #d3d2d2;
	text-align: center;
	font-size: 11px;
	font-family: cursive;
	position: fixed;
    bottom: 0px;
    z-index: 1000;
}

.erm_ermHeaderContainer {
	width: 100%;
	/*float: left;*/
	padding: 10px 0px;
	text-align: center;
	background: #ebeff2;
	font-size: 20px;
	font-family: serif;
	position: fixed;
    
    top: 0px;
    z-index: 1000;
}
.hdrTxt{
	display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
.eraLogoutCls {
    float: right;
    vertical-align: top;
    margin-top: 10px;
    color: crimson;
    font-family: initial;
    margin-right: 10px;
    cursor: pointer
}
.eraLogoutCls a{
	color: crimson;
}