@charset "ISO-8859-1";
body, html {
  height: 100%;
  margin: 0px;
}
#eraMainCont {
    background-image: url(/image/erpImg.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#eraLoginTopCont, #eraLogoutCont {
    position: fixed;
    top: 40%;
    margin: 0 38%;
    width: 320px;
}
input::placeholder {
    opacity: 0.3;
    font-style: italic;
    color: blue;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #fff;
    border: 1px solid dodgerblue;
    color: navy;
    font-size: 16px;
    font-family: monospace;
}
input[type="submit"] {
   background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 152px;
    opacity: 0.9;
    margin-left: 30%;
}
#eraLogoutCont{
	width: 400px;
}
#eraLoginTopCont .err{
   color: crimson;
}
#eraLogoutCont .logout, #eraLogoutCont #eraLogout {
    font-size: 25px;
    color: crimson;
}
#eraLogoutCont #eraLogout{
	color: #007bff;
	cursor: pointer;
}