.project-tab {
    padding: 5%;
   /* margin-top: -8%;*/
}
.test {
    display: block;
    float: left;
}

.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.cls_skViewBtn a, .cls_skEditBtn a
{
	text-decoration: underline;
    color: #007bff;
    font-weight: 600;
}

.cls_search {
    float: right;
    overflow: hidden;
    width: 370px;
}

nav {
    clear: both;
}

input#search {
  float: left;
  width: 89%;
  border: 3px solid #00B4CC;
  padding: 5px;
  border-radius: 7px;
  outline: none;
  color: #9DBFAF;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.searchTerm:focus{
  color: #00B4CC;
}

td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.searchButton {
 width: 40px;
 height: 40px;
 border: 1px solid #00B4CC;
 background: #00B4CC;
 text-align: center;
 color: #fff;
 border-radius: 5px;
 cursor: pointer;
 font-size: 20px;
 border;
 border-bottom-left-radius: 0px;
 border-top-left-radius: 0px;
 float: left;
 background-image: url(/img/searchicon.png);
 background-size: 27px;
 background-repeat: no-repeat;
 padding-top: 10px;
 background-position: 5px;
}


.cls_btnCont
{
	padding: 10px;
}

/* load more css */

.clsLoadMore {
   border: 1px solid #ccc;
   width: 150px;
   height: 40px;
   /* line-height: 40px; */
   font-size: 23px;
   text-align: center;
   color: white;
   margin: auto;
   background-color: #007bff;
   border-radius: 10px;
}

.cls_guest .cls_skEditBtn
{
	display: none;
}
