<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
        <link href="/css/view.css" rel="stylesheet" id="view-css" />

        <script src="/js/jquery.min.js"></script>
        <script  async type="text/javascript" src="/js/auth.js"></script>
        <script type="text/javascript">checkAuthSession();</script>
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous' />
        <link href = "/css/ERMHeaderFooter.css" rel = "stylesheet"/>
    </head>
    <body class="" th:classappend="${userprivilege == '1'} ? cls_admin : cls_guest">
        <div th:replace = "ERMHeader :: Header"> </div>
        <section id="tabs" class="project-tab">
            <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="link" href="/employee/employeeview" role="tab" aria-controls="nav-home" aria-selected="true">Employee</a>
                            <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="link" href="/employee/projectview" role="tab" aria-controls="nav-profile" aria-selected="false">Project</a> 
							<!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="link" href="managerview"role="tab" aria-controls="nav-contact" aria-selected="false">Manager</a> -->
                        </div>
                    </nav>
                    <div class="cls_btnCont">
                        <form class="cls_search test"
                            action="http://localhost:8102/searchpageview">
                            <input type="text" name="search" id="search"
                                placeholder="Search project by client, name, description"
                                th:value="${search}" />
                            <button type="submit" class="searchButton"></button>
                        </form>
						
                        <div class="form-group col-md-4 test" th:if="${userprivilege == '1' OR userprivilege == '2'}">
                            <form action="http://localhost:8102/addprojectview" >
                                <input type="submit" value="Add New Project" class="btn btn-primary" />
                            </form>
                        </div>
                    </div>
					
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home"
                            role="tabpanel" aria-labelledby="nav-home-tab">
                            <table class="table" cellspacing="0">
                                <thead>
                                    <tr>
										<th>Id</th>
										<th>ProjectName</th>
                                        <th>Description</th>
                                        <th>ManagerName</th>
                                        <th></th>
                                        <th></th>
                                    </tr>

                                </thead>
                                <tbody id="content">
                                    <tr th:each="asset:${asset}">
                                        <td th:text="${asset.id}"></td>
                                        <td th:text="${asset.name}" class="cls_skName"></td>
                                        <td th:text="${asset.description}"></td>
                                        <td th:text="${asset.managername}" ></td>


                                        <td class="cls_skEditBtn" th:if="${userprivilege == '1' OR userprivilege == '2'}"><a
                                            th:href="@{'/addprojectview'(id=${asset.id})}">Edit</a></td>
                                        <td class="cls_skViewBtn" ><a
                                            th:href="@{'/viewid'(id=${asset.id})}">View</a></td>

                                    </tr>
                                </tbody>
                            </table>
                            <div id="loadMore" class="clsLoadMore">View More</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/handlebars.js"></script>
	      
        <script id="entry-template" type="text/x-handlebars-template">
            {{#each productlist}}
            <tr>
            <td >{{id}}</td>
                       <td class="cls_skName">{{name}}</td>
                       <td >{{description}}</td>
                        <td >{{managername}}</td>
            <td class="cls_skEditBtn"><a href="/addprojectview?id={{id}}">Edit</a></td>
            <td class="cls_skViewBtn"><a href="/viewid?id={{id}}">View</a></td>
                   </tr>
            {{/each}}
        </script>
        <script src="/js/viewproject.js"></script>
        <div th:replace = "ERMFooter :: Footer" ></div>
    </body>
</html>
