<html>
<head>
<link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<link href="css/view.css" rel="stylesheet" id="view-css" />
<script src="js/jquery.min.js"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous' />
<link href = "/css/ERMHeaderFooter.css" rel = "stylesheet"/>
<script  async type="text/javascript" src="/js/auth.js"></script>
<script async type="text/javascript">checkAuthSession();</script>
</head>
<body>
<div th:replace = "ERMHeader :: Header"> </div>
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr >
					<th scope="col">id</th>
					<th scope="col">Name</th>
					<th scope="col">client</th>
					<th scope="col">region</th>
					<th scope="col">startDate</th>
					<th scope="col">endDate</th>
					<th scope="col">stackused</th>
					<th>description</th>
					<th>managername</th>
					<th>typeofproject</th>
				</tr>
			</thead>
			<tbody>
				<tr  th:each="asset: ${asset}">
					<td scope="col" th:text="${asset.id}" ></td>
					<td scope="col" th:text="${asset.name}"></td>
					<td scope="col" th:text="${asset.client}"></td>
					<td scope="col" th:text="${asset.region}"></td>
					<td scope="col" th:text="${asset.startDate}"></td>
					<td scope="col" th:text="${asset.endDate}"></td>
					<td scope="col" th:text="${asset.stackUsed}"></td>
					<td scope="col" th:text="${asset.description}"></td>
					<td th:text="${asset.managername}"></td>
					<td th:text="${asset.typeofproject}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="js/bootstrap.min.js"></script>
	<div th:replace = "ERMFooter :: Footer" ></div>
</body>
</html>
