<html>
    <head>
        <title>MongoDB/Spring Boot tutorial from tests4geeks.com</title>
        <link href = "css/list.css" rel = "stylesheet"/>
        <script  async type="text/javascript" src="/js/auth.js"></script>
        <script async type="text/javascript">checkAuthSession();</script>
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous' />
        <link href = "/css/ERMHeaderFooter.css" rel = "stylesheet"/>
    </head>
    <body>
        <div th:replace = "ERMHeader :: Header"> </div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Employee Id</th>
                        <th>Name</th>
                        <th>Email id</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- tr th:each="car : ${carList}">
                        <td th:text="${car.make}"></td>
                        <td th:text="${car.model}"></td>
                        <td th:text="${car.description}"></td>
                        <td th:text="${car.year}"></td>
                        </tr-->
                    <tr th:each="employeeObj:${employeeList}">
                        <td th:text="${employeeObj.employeeId}"></td>
                        <td th:text="${employeeObj.name}" class="cls_skName"></td>
                        <td th:text="${employeeObj.emailId}"></td>
                        <td class="cls_skViewBtn"><a th:href="@{'http://localhost:8188/employee/viewEmployee/'(id=${employeeObj.employeeId})}">View</a></td>
                        <td class="cls_skEditBtn"> <a th:href="@{'http://localhost:8188/employee/updateEmployee/'(id=${employeeObj.employeeId})}">Edit</a></td>
                    </tr>
                </tbody>
            </table>
            <br />
            <!-- form action="/addCar" method="POST">
                Make <input type="text" id="make" name="make" /><br />
                Model <input type="text" id="model" name="model" /><br />
                Year <input type="text" id="year" name="year" /><br />
                Description <textarea rows="5" cols="70" id="description" name="description" /><br />
                <input type="submit" />
                </form>
                -->
        </div>
        <div th:replace = "ERMFooter :: Footer" ></div>
    </body>
</html>