<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
        <link href="/css/profile.css" rel="stylesheet" id="bootstrap-css"/>
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous' />
        <link href = "/css/ERMHeaderFooter.css" rel = "stylesheet"/>
        <script  async type="text/javascript" src="/js/auth.js"></script>
        <script async type="text/javascript">checkAuthSession();</script>
    </head>
    <body>
        <div th:replace = "ERMHeader :: Header"> </div>
        <div class="tab-content" th:each="employeeObj:${employeeList}">
            <div id="profile-tab" class="tab-pane active">
                <div class="pd-20">
                    <div class="vd_info tr"> <a class="btn vd_btn btn-xs vd_bg-yellow"> <i class="fa fa-pencil append-icon"></i> Edit </a> </div>
                    <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="icon-user mgr-10 profile-icon"></i> ABOUT</h3>
                    <div class="row cls_basicinfo">
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">First Name:</label>
                                <div class="col-xs-7 controls" th:text="${employeeObj.name}"></div>
                                <!-- col-sm-10 --> 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Last Name:</label>
                                <div class="col-xs-7 controls" th:text="${employeeObj.name}"></div>
                                <!-- col-sm-10 --> 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">employee Id: </label>
                                <div class="col-xs-7 controls" th:text="${employeeObj.id}"></div>
                                <!-- col-sm-10 --> 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Date of joing:</label>
                                <div class="col-xs-7 controls" th:text="${employeeObj.doj}"></div>
                                <!-- col-sm-10 --> 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Email:</label>
                                <div class="col-xs-7 controls" th:text="${employeeObj.emailId}"></div>
                                <!-- col-sm-10 --> 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Designation:</label>
                                <div class="col-xs-7 controls" th:text="${employeeObj.designation}"></div>
                                <!-- col-sm-10 --> 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Level:</label>
                                <div class="col-xs-7 controls" th:text="${employeeObj.level}"></div>
                                <!-- col-sm-10 --> 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Birthday:</label>
                                <div class="col-xs-7 controls" th:text="${employeeObj.dob}"></div>
                                <!-- col-sm-10 --> 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">EXPERIENCE:</label>
                                <div class="col-xs-7 controls" th:text="${employeeObj.experience}"></div>
                                <!-- col-sm-10 --> 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Website:</label>
                                <div class="col-xs-7 controls"><a href="http://Vendroid.venmond.com">Vendroid.venmond.com</a></div>
                                <!-- col-sm-10 --> 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Phone:</label>
                                <div class="col-xs-7 controls" th:text="${employeeObj.contact}">+1-234-5678</div>
                                <!-- col-sm-10 --> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5"  th:unless="${employeeObj.skillSet == null}">
                            <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-flask mgr-10 profile-icon"></i> SKILL</h3>
                            <div class="skill-list" th:each="skill : ${#strings.arraySplit(employeeObj.skillSet, ',')}" >
                                <div class="skill-name" th:text="${skill}"></div>
                                <div class="progress  progress-sm">
                                    <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-success "> <span class="sr-only">100%</span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7 mgbt-xs-20">
                            <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-file-text-o mgr-10 profile-icon"></i> Project</h3>
                            <div class="content-list content-menu">
                                <ul class="list-wrapper">
                                    <li class="mgbt-xs-10"> <span class="menu-icon vd_green"><i class="fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="http://www.venmond.com">Owner</a> at <a href="http://www.venmond.com">Vendroid Ltd.</a> <span class="menu-info"><span class="menu-date"> March 2013 ~ Now</span></span> </span> </li>
                                    <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="http://www.venmond.com">CEO</a> at <a href="http://www.venmond.com">Mc. Dondon</a> <span class="menu-info"><span class="menu-date"> March 2011 ~ February 2013</span></span> </span> </li>
                                    <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="http://www.venmond.com">Web Designer</a> at <a href="http://www.venmond.com">Web Design Company Ltd.</a> <span class="menu-info"><span class="menu-date"> March 2010 ~ February 2011</span></span> </span> </li>
                                    <li class="mgbt-xs-10"> <span class="menu-icon vd_grey"><i class=" fa  fa-circle-o"></i></span> <span class="menu-text"> <a href="http://www.venmond.com">Sales</a> at <a href="http://www.venmond.com">Sales Company Ltd.</a> <span class="menu-info"><span class="menu-date"> March 2009 ~ February 2010</span></span> </span> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <!-- row --> 
                </div>
                <!-- pd-20 --> 
            </div>
            <!-- home-tab -->
        </div>
        <div th:replace = "ERMFooter :: Footer" ></div>
    </body>
</html>