<html xmlns:th="https://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
        <script  async type="text/javascript" src="/js/auth.js"></script>
        <script async type="text/javascript">checkAuthSession();</script>
        <link href="/css/profile.css" rel="stylesheet" id="bootstrap-css" />
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous' />
        <link href = "/css/ERMHeaderFooter.css" rel = "stylesheet"/>
    </head>
    <body>
        <div th:replace = "ERMHeader :: Header"> </div>
        <div class="tab-content">
            <div id="profile-tab" class="tab-pane active">
                <div class="pd-20">
                    <div class="vd_info tr">
                        <a class="btn vd_btn btn-xs vd_bg-yellow"
                            href="http://localhost:8102/employee/projectview"> <i
                            class="fa fa-pencil append-icon"></i> Back to home
                        </a>
                    </div>
                    <h3 class="mgbt-xs-15 mgtp-10 font-semibold">
                        <i class="icon-user mgr-10 profile-icon"></i> ABOUT
                    </h3>
                    <div class="row cls_basicinfo">
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
							<label class="col-xs-5 control-label">ProjectName:</label>
                                <div class="col-xs-7 controls" th:text="${asset?.name}"></div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Employee Id:</label>
                                <div class="col-xs-7 controls" th:text="${asset?.id}"></div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Client: </label>
                                <div class="col-xs-7 controls" th:text="${asset?.client}"></div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Region:</label>
                                <div class="col-xs-7 controls" th:text="${asset?.region}"></div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">startDate:</label>
                                <div class="col-xs-7 controls" th:text="${asset?.startDate}"></div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">endDate:</label>
                                <div class="col-xs-7 controls" th:text="${asset?.endDate}"></div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">stackUsed:</label>
                                <div class="col-xs-7 controls" th:text="${asset?.stackUsed}"></div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">Description:</label>
                                <div class="col-xs-7 controls de" th:text="${asset?.description}"></div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">ManagerName:</label>
                                <div class="col-xs-7 controls" th:text="${asset?.managername}"></div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>
					<!-- <div class="col-sm-6">
						<div class="row mgbt-xs-0">
							<label class="col-xs-5 control-label">employeeName:</label>
							<div class="col-xs-7 controls" th:text="${asset?.employeename}"></div>
							col-sm-10
						</div>
					</div> -->


                        <div class="col-sm-6">
                            <div class="row mgbt-xs-0">
                                <label class="col-xs-5 control-label">TypeofProject:</label>
                                <div class="col-xs-7 controls" th:text="${asset?.typeofproject}"></div>
                                <!-- col-sm-10 -->
                            </div>
                        </div>

                    </div>
                </div>
                <!-- row -->


                <!-- row -->
            </div>
            <!-- pd-20 -->
        </div>
        <!-- home-tab -->
        </div>
        <div th:replace = "ERMFooter :: Footer" ></div>
    </body>
</html>