<html>
<head>
<link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<link href="/css/view.css" rel="stylesheet" id="view-css" />
<link href="/css/font-awesome.min.css" rel="stylesheet" id="view-css" />
<script  async type="text/javascript" src="/js/auth.js"></script>
<script async type="text/javascript">checkAuthSession();</script>
<script src="/js/jquery.min.js"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous' />
<link href = "/css/ERMHeaderFooter.css" rel = "stylesheet"/>
</head>
<body>
<div th:replace = "ERMHeader :: Header"> </div>
	<section id="tabs" class="project-tab">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<nav>
						<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
							<a class="nav-item nav-link" id="nav-home-tab" data-toggle="link" href="employeeview" role="tab" aria-controls="nav-home" aria-selected="false">Employee</a>
							<a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="link" href="projectview" role="tab" aria-controls="nav-profile" aria-selected="true">Project</a> 
							<!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="link" href="managerview"role="tab" aria-controls="nav-contact" aria-selected="false">Manager</a> -->
						</div>
					</nav>
					<div class="btn btn-default btn-lg" >
								<form action="http://localhost:8102/addprojectview" >
									<input type="submit" value="New Add Project" class="btn btn-primary"/>
								</form>
							</div>
					<div class="tab-pane fade show active" id="nav-profile" role="tabpanel"
							aria-labelledby="nav-profile-tab">
							<table class="table" cellspacing="0">
								<thead>
									<tr>
										<th>id</th>
										<th>Name</th>
										<th>description</th>
										<th>managername</th>
										<th>action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="asset:${asset}">
										<td th:text="${asset.id}"></td>
										<td th:text="${asset.name}" class="cls_skName"></td>
										<td class="de" th:text="${asset.description}"></td>
										<td th:text="${asset.managername}"></td>
										<td>
											<div class="float-left">
												<form action="http://localhost:8102/addprojectview">
													<input type="hidden" name="id" th:value="${asset.id}" /> <input
														type="submit" th:value="edit" />
											</div>
											</form>
											<div class="float-left">
												<form action="http://localhost:8102/viewid">
													<input type="hidden" name="id" th:value="${asset.id}" /> <input
														type="submit" th:value="view" />
												</form>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>				
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="/js/bootstrap.min.js"></script>
<div th:replace = "ERMFooter :: Footer" ></div>
</body>
</html>
